<section>
  <div class="container ">
    <div class="table-responsive">
      <table class="table mt-5" style=" background-color: #fff; border-radius: 25px;">
        <div class="mt-5">
          <h3 style="columns: rgb(0, 0, 49); font-family: sans-serif;">My Orders</h3>
        </div>
        <tbody>
          {{#each orders}}

          <tr style="height: 6rem;">

            <td scope="row" style="width: 14rem;" class="p-3">
              {{#if this.isCancelled}}
              <img class="shadow p-3 mt-2 rounded" style="width: 140px; height: 140px;"
                src="/product-images/{{this.products.images.[0].filename}}" alt="">
              {{else}}
              <a href="/view-single-orders/{{this.products._id}}"><img class="shadow p-3 mt-2 rounded"
                  style="width: 140px; height: 140px;" src="/product-images/{{this.products.images.[0].filename}}"
                  alt=""></a>
              {{/if}}
            </td>

            <td scope="row">
              <h6 style="margin-top: 4.5rem;">{{this.products.title}}</h6>
            </td>
            <td scope="row" style="width: 14rem;">
              <h6 style="margin-top: 4.5rem;">₹ {{this.products.price}}</h6>
            </td>
            <td scope="row" style="width: 14rem;">
              <h6 style="margin-top: 4.5rem;">{{this.deliveryStatus}}</h6>
              <p class="text-dark"> </p>
            </td>
            <td scope="row" style="width: 14rem;">
              <p style="margin-top: 4rem;">
                {{#if this.isCancelled}}
              <h6 class="text-danger">Cancelled</h6>
              {{else}}
              <button type="button" class="btn text-danger" data-mdb-toggle="tooltip" title="Remove item"
                id="RemoveProduct" onclick="cancelOrder('{{this._id}}','{{this.products._id}}')">Cancel Order
              </button>
              {{/if}}
              </p>
            </td>
          </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  function cancelOrder(orderId, proId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, cancel it!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/cancelOrder",
          data: {
            orderId: orderId,
            proId: proId
          },
          method: "post",
          success: (response) => { },
        })
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    }).then(() => {
      location.reload();
    })
  }
</script>