<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card">
                <div class="card-body p-4">

                    <div class="row">
                        <div class="col-lg-7">
                            <h5 class="mb-3"><a href="back" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>shopping</a></h5>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div>
                                    <p class="mb-1">Countinue Shopping</p>
                                </div>
                            </div>
                            <div class="container">
                                <div class="card text-light" style="background-color: rgb(0, 3, 51);">
                                    <h6 class="text-uppercase text-light p-3">delivery address</h6>
                                </div>
                                <div class="body d-inline-flex p-2">
                                    <button type="submit" class="btn but-light"
                                        onclick="autoFill('{{address.[0].address.firstName}}','{{address.[0].address.lastName}}','{{address.[0].address.mobileNumber}}','{{address.[0].address.pincode}}','{{address.[0].address.address}}')"><i
                                            class="bi bi-circle-fill"></i></button>
                                    <h6 class="container mt-3">
                                        {{address.[0].address.firstName}} {{address.[0].address.lastName}} -
                                        {{address.[0].address.mobailNumber}}</h6>
                                </div>
                                <div class="" style="padding-left: 4.5rem;">
                                    <p>{{address.[0].address.address}}-{{address.[0].address.pincode}}</p>
                                </div>
                            </div>
                            <form action="/place_order" id="checkout-form" method="post">
                                <div class="container">
                                    <div class="card text-light" style="background-color: rgb(0, 3, 51);">
                                        <h6 class="text-uppercase text-light p-3">add a new address</h6>
                                    </div>
                                    <div class="card">
                                        <div class="form-check">
                                            <label class="form-check-label " for="flexRadioDefault1">

                                                <div class="form-outline row">
                                                    <label class="form-label" for="form6Example1">First
                                                        Name</label>
                                                    <input type="text" id="firstName" class="form-control"
                                                        name="firstName" / required>
                                                </div>
                                                <div class="form-outline row">
                                                    <label class="form-label" for="form6Example1">Last
                                                        Name</label>
                                                    <input type="text" id="lastName" class="form-control"
                                                        name="lastName" / required>
                                                </div>
                                                <div class="form-outline row">
                                                    <label class="form-label" for="form6Example1">Mobile
                                                        Number</label>
                                                    <input type="number" id="mobileNumber" class="form-control"
                                                        name="mobileNumber" / required>
                                                </div>
                                                <div class="form-outline row">
                                                    <label class="form-label" for="form6Example1">Pincode</label>
                                                    <input type="number" name="pincode" id="pincode"
                                                        class="form-control" / required>
                                                </div>
                                                <div class="d-flex align-items-center ">
                                                    <div class="form-group row">
                                                        <label for="exampleFormControlTextarea1">Address</label>
                                                        <textarea class="form-control" name="address" id="address"
                                                            rows="5" required></textarea>
                                                    </div>
                                                </div>
                                        </div>
                                        </label>
                                    </div>
                                </div>
                        </div>

                        <div class="col-lg-5">

                            <div class="card bg-light text-dark  rounded-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h5 class="mb-0">Payment Type</h5>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Cash On Delivery
                                        </label>
                                        <input class="form-check-input" type="radio" name="payment-method"
                                            id="flexRadioDefault1" value="COD">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Online Payment
                                        </label>
                                        <input class="form-check-input" type="radio" value="online"
                                            name="payment-method" id="flexRadioDefault2" checked>
                                    </div>
                                    <input type="text" name="userId" id="" value="{{logged._id}}" hidden>

                                    <hr class="my-4">
                                    {{#if status}}
                                    <div class="d-flex justify-content-between text-dark">
                                        <p class="mb-2">Subtotal</p>
                                        <p class="mb-2">₹{{total}}</p>
                                    </div>

                                    <div class="d-flex justify-content-between text-dark">
                                        <p class="mb-2">Shipping</p>
                                        <p class="mb-2 text-success">Free Delivery</p>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4 text-dark">
                                        <p class="mb-2">Total(Incl. taxes)</p>
                                        <p class="mb-2">₹{{total}}</p>
                                    </div>
                                    {{else}}

                                    <div class="d-flex justify-content-between text-dark">
                                        <p class="mb-2">Subtotal</p>
                                        <p class="mb-2">₹{{total}}</p>
                                    </div>

                                    <div class="d-flex justify-content-between text-dark">
                                        <p class="mb-2">Shipping</p>
                                        <p class="mb-2 text-success">Free Delivery</p>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4 text-dark">
                                        <p class="mb-2">Total(Incl. taxes)</p>
                                        <p class="mb-2">₹{{total}}</p>
                                    </div>
                                    {{/if}}
                                    <div>
                                        <button type="submit"
                                            class="text-uppercase btn btn-dark float-end">checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place_order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                //alert(response)
                if (response.codSuccess) {
                    location.href = "/order_success"
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_zyocCNLY0MIdhj", // Enter the Key ID generated from the Dashboard
            "amount": "order.amount", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Benefit's",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "anas",
                "email": "anas@gamil.com",
                "contact": "8547700297"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#0B112C"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify_payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                console.log(response)
                if (response.status) {
                    location.href = "/order_success"
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>
<script>
    function autoFill(firstName, lastName, mobileNumber, pincode, address) {

        document.getElementById('firstName').value = firstName
        document.getElementById('lastName').value = lastName
        document.getElementById('mobileNumber').value = mobileNumber
        document.getElementById('pincode').value = pincode
        document.getElementById('address').value = address
    }
</script>
